.reposWrapper {
  width: 100%;
}

.repoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  margin: 35px;
  background: white;
  border-radius: 4px;
}

.repoInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
}

.repoItemImg {
  width: 130px;
  height: 130px;
  margin-right: 20px;
}

.repoItemTextInfo p, .noRepos {
  font-family: DM Serif Display;
  font-size: 22px;
  color: #081F32;
  margin: 8px 0;
}

.repoItemTextInfoText, .repoItemTextInfoDesc {
  display: block;
  color: #A5ADBB;
  margin-bottom: 2px;
  font-size: 16px;
  font-family: Open Sans;
}

.repoItemTextInfoDesc {
  color: #6E798C;
  margin-top: 10px;
}

.noRepos {
  margin: 20px auto;
}

.repoRates svg {
  margin-right: 10px;
}

.repoRatesItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Open Sans;
  font-size: 16px;
  min-width: 200px;
}

.repoRatesItem p {
  font-weight: 600;
  color: #081F32;
  margin: 8px 0;
}

.repoRatesItem span {
  font-weight: 400;
}

.spinnerWrapper {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 1024px) {
  .repoItem {
    padding: 30px;
    margin: 25px;
  }
  .repoItemTextInfoText, .repoItemTextInfoDesc {
    font-size: 14px;
  }
  .repoRatesItem {
    font-size: 13px;
    min-width: 150px;
  }

  .repoItemImg {
    width: 110px;
    height: 110px;
  }

  .noRepos {
    font-size: 18px;
  }
}

@media(max-width: 768px) {
  .repoItem {
    margin: 15px 10px;
  }
  .repoItem,.repoInfo {
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .repoInfo  {
    width: 80%;
    justify-content: flex-start;
    /* align-items: flex-start; */
  }
  .repoItemTextInfo {
    margin-left: 20px;
    display: flex;;
    flex-direction: column;
    align-items: flex-start;
    width: 100%
  }
}